

  <div class="jumbotron">
  <h1 class="header">Github Search</h1>
  <hr>
</div>


      <app-search-form></app-search-form>
      <div class="col-sm-6">
        <img src="{{user.avatar_url}}" class="img" alt="">
      </div>
    <br>

       <div class="row">
         class='text-success'>Name: <br>{{user.name}
         class='text-success'>username  <br>{{user.login}
         class='text-success'>repositories <br>{{user.public_repos}}
         class='text-success'>folllowers<br>{{user.followers}
         class='text-success'>Following <br>{{user.following}}


    </div> 

  <br>
  <div *ngIf="user">
    <div class="panel panel-default">
      <div class="panel-heading" id="heading">
        <p class="names"><span class="glyphicon glyphicon-user"></span> {{user.login}} <small>({{user.name}})</small></p>
      </div>
      <div class="panel-body" id="body">
        <div class="row">

          <div class="col-sm-6">

            <ul class="list-group" id="email">

              <li class="list-group-item" *ngIf="user.created_at" id="emailocation">Account created on: <b>{{user.created_at | date}}</b></li>
            </ul>
            <a href="{{user.html_url}}" target="_blank" class="btn btn-danger btn-sm  ml-auto"
            id="view"> VIEW ALL <span class="glyphicon glyphicon-share-alt"></span></a>
           <br>
          </div>



            </div>
          </div>
        </div>
      </div>
